@import "Mixins";
.Home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  @include respond(Tablet-Portrait) {
    height: 125vh;
    flex-direction: column;
  }
}
.ImageSection {
  height: 50vh;
  width: 50vh;
  background-color: green;
  @include respond(Smartphone) {
    height: 40vh;
    width: 40vh;
  }
}
.TextSection {
  height: 50vh;
  width: 50vh;
  background-color: blue;
  @include respond(Smartphone) {
    height: 40vh;
    width: 40vh;
  }
}
